
div{
    border-radius: 20px;
    text-align: center;
}


#one{
    position: relative;
    top: 100px;
    left: 25%;
    width: 500px;
    height: 250px;
    background-color: grey;
   
}
p{
    padding: 50px;
}

#two{
    width: 250px;
    background-color: red;
    height: 50px;
    position: absolute;
    top: -10%;
    left: 25%;
}